<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product page</title>
</head>
<body> 
    <a href="/users/logout"><button>LogOut</button></a>
      <%products.forEach((product) => { %>
            <div> 
                <p> Name : <%=product.title%></p>
                <p> Qty : <%=product.quantity%></p>
                <p> Price :<%=product.price%> Rs</p>
                <p> Likes :<%=product.likes%></p>

                <% if(isAdmin){ %>
                    <a href="/product/<%=product.id%>/edit"><button>EDIT</button></a>
                    <a href="/product/<%=product.id%>/delete"><button>Delete</button></a>
                    
                <% } %>
                <a href="/product/<%=product.id%>/likes"><button>Likes</button></a>
                <a href="/product/<%=product.id%>/dislikes"><button>Deslikes</button></a>
            </div>
            
      <%})%>
</body>
</html>